.label{
    -fx-text-align: center;
    -fx-font-size: 50px;
    -fx-font-weight: 600;
    -fx-text-fill: -fx-text-inner-color;
    -fx-text-inner-color: #3d3d3d;
}
#ganador{
    -fx-font-weight: 800;
    -fx-font-size: 55px;
    -fx-text-inner-color: #13d200;
}
.button{
    -fx-padding: 10px;
    -fx-text-fill: -fx-text-inner-color;
    -fx-text-inner-color: #fff;
    -fx-font-size: 32px;
    -fx-background-color: #be0003;
    -fx-font-weight: 800;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #fff;
}
.button:hover{
    -fx-background-color: #920003;
}